<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Public Page</title>
</head>
<body>
  {{> nav}}
  <h1 style="color:green;font-size:500">{{pageTitle}}</h1>
  <p style="color:red;fonts-weight:bold">Intro team</p>
  {{> footer}}
</body>
</html>
